<h1 align="center"> Welcome To Joe's Pizza!</h1>


<div class="container">
  <div class="row">
<% @recipes.each do |recipe| %>
  <div class="col-md-4">
    <h3><%= recipe.name %></h3>
    <%= image_tag "Half_n_Half.jpg", :alt => "default", :size => "300x250"%>
    <% recipe.ingredients.each do |ingredient| %>
    <%= ingredient.name %>
    <% end %>
    <%= form_with(model: @pizza, local: true) do |form| %>

      <div class="field">
        <%= form.collection_select(:crust_id, Crust.all,
                                   :id, :name, {:prompt => 'Select a Crust',
                                                :selected =>@pizza.crust_id}) %>
        <%= form.hidden_field :recipe_id, :value => recipe.id %>
      </div>
      <div class="field">
        <%= form.submit %>
      </div>
    <% end %>
  </div>
<% end %>
  </div>
</div>